.wrapper {
  position: fixed;
  top: 17px;
  left: 0;
  right: 0;
  z-index: 999999999999999999;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.92);
  padding: 10px 8px;
  pointer-events: all;
  max-width: 100%;
  border-radius: 2px;
  transition: all 0.3s linear;
}
.message {
  color: var(--white);
}
