.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 8px 0px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 8px;
  max-height: 400px;
}
.menu-more-height {
  max-height: 230px;
}
