.wrapper {
  background-color: #f8f8f8;
  height: 91vh;
  margin-top: 60px;
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ver-wrapper {
  height: 148vh;
}
.noFileVideo {
  height: 128vh;
}
.main-content {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 1100px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  padding: 24px 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ver-main {
  margin-bottom: 20px;
}
.inner {
  width: 100%;
}
.upload-file-container {
  align-items: center;
  background-color: inherit;
  border: 2px dashed rgba(22, 24, 35, 0.2);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 458px;
  padding: 0 35px;
  text-align: center;
  transition: background-color 0.15s ease-in-out 0s;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
  svg {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 6px;
  }
  .hint {
    color: rgba(89, 89, 92, 0.75);
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  .des-block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(56, 56, 56, 0.75);
    font-size: 1.4rem;
    gap: 8px 0px;
  }
  .btn-upload {
    margin-top: 32px;
    max-width: 400px;
    width: 100%;
    div {
      padding-top: 5px;
      background-color: var(--primary);
      width: 100%;
      height: 35px;
      border-radius: 5px;
      color: var(--white);
      font-weight: 600;
      cursor: pointer;
      font-size: 17px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
// header-upload-video
.header-upload-video {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  height: 116px;
  justify-content: space-between;
  margin: 0 auto 12px;
  overflow: hidden;
  padding: 16px 24px;
  width: 1100px;
  margin-top: 15px;
  .video-edit {
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border: 0.5px solid rgba(22, 24, 35, 0.12);
    border-radius: 8px;
    display: flex;
    flex-basis: calc(50% - 5px);
    .video-edit-left {
      color: rgba(22, 24, 35, 0.34);
      flex-shrink: 0;
      font-weight: 600;
      margin-right: 8px;
      text-align: center;
      width: 32px;
    }
    .video-edit-center {
      display: flex;
      flex-grow: 1;
      video {
        border-radius: 2px;
        height: 52px;
        object-fit: cover;
        width: 35px;
      }
      .video-edit-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 8px;
        padding-top: 2px;
        .name-video {
          font-size: 1.4rem;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 230px;
        }
        .time-video {
          color: rgba(22, 24, 35, 0.5);
          font-size: 1.3rem;
          font-weight: 500;
          .total-time {
            margin-left: 10px;
          }
        }
      }
    }
    .video-edit-right {
      margin-left: 50px;
      align-self: center;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .video-split {
    align-items: center;
    background-color: #fff;
    border: 1.2px dashed rgba(22, 24, 35, 0.75);
    border-radius: 8px;
    display: flex;
    flex-basis: calc(50% - 5px);
    justify-content: space-around;

    .video-split-title {
      font-size: 1.2rem;
      margin-bottom: 4px;
    }
    .video-split-count {
      display: flex;
    }
    .video-split-control,
    .video-split-number {
      align-items: center;
      border: 0.5px solid rgba(22, 24, 35, 0.12);
      display: flex;
      height: 32px;
      justify-content: center;
      width: 32px;
      svg {
        margin-left: 3px;
        opacity: 0.4;
      }
    }

    .video-split-number {
      border-right: none;
      font-size: 1.4rem;
      border-left: none;
      width: 48px;
    }
  }
}

// video-setup
.post-title {
  p {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 3px;
  }
}
.video-setup {
  display: flex;
  margin: 24px 0 40px;
  .video-setup-left {
    flex: 0 0 auto;
    .mobile-container {
      background-image: url('./image-phone.png');
      background-position: 50%;
      background-size: cover;
      height: 587px;
      position: relative;
      width: 284px;
      .video-space {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        height: 541px;
        left: 3.5px;
        overflow: hidden;
        pointer-events: none;
        width: 275px;
        position: absolute;
        right: 32.5px;
        top: 0.5px;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .overlay-space {
        inset: 0;
        pointer-events: none;
        position: absolute;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        header {
          align-items: center;
          justify-content: space-around;
          display: flex;
          left: 0;
          margin: 0 22px;
          opacity: 0.6;
          position: absolute;
          right: 0;
          top: 40px;
          img {
            width: 20px;
            height: 20px;
            object-fit: cover;
          }
          .heder-text {
            color: hsla(0, 0%, 100%, 0.75);
            flex-grow: 1;
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            .border::after {
              background-color: currentColor;
              border-radius: 2px;
              bottom: -3px;
              content: '';
              height: 2px;
              left: 68%;
              position: absolute;
              transform: translateX(-50%);
              width: 25px;
            }
          }
        }
        section {
          height: 518px;
          left: 12.5px;
          position: absolute;
          right: -0.5px;
          top: 77px;
          .section-right {
            align-items: center;
            bottom: 45px;
            display: flex;
            flex-direction: column;
            height: 245px;
            justify-content: space-between;
            opacity: 0.6;
            padding: 0 5px 8px;
            position: absolute;
            right: 7px;
            width: 50px;
            .avatar-static {
              border-radius: 50%;
              height: 40px;
              width: 40px;
              margin-bottom: 10px;
            }
            .bg-avatar-dynamic {
              align-items: center;
              background: conic-gradient(
                from 90deg at 50% 50%,
                #393939 -40.11deg,
                #151515 47.27deg,
                #393939 143.02deg,
                #161616 227.49deg,
                #393939 319.89deg,
                #151515 407.27deg
              );
              border-radius: 50%;
              display: flex;
              height: 40px;
              justify-content: center;
              position: relative;
              width: 40px;
            }
            .rotate-img {
              animation: rotate 5s linear forwards infinite;
            }
            .avatar-dynamic {
              background-size: cover;
              border-radius: 50%;
              height: 26px;
              width: 26px;
            }
            .icon-music {
              bottom: 68px;
              position: relative;
              right: 10px;
              span {
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                position: absolute;
              }
              .active-music {
                animation: music 2s linear forwards infinite normal running;
              }
              .span-1 {
                height: 15px;
                left: -20px;
                top: 20px;
                width: 15px;
                background-image: url('./img-music.png');
              }
              .span-2 {
                height: 12px;
                left: -24px;
                top: 2px;
                width: 12px;
                background-image: url('./icon-music-2.png');
              }
              .span-3 {
                height: 9px;
                left: -28px;
                top: -12px;
                width: 9px;
                background-image: url('./icon-music-3.png');
              }
            }
          }
          @keyframes rotate {
            from {
              transform: rotate(-360deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
          @keyframes music {
            0% {
              opacity: 0;
              -webkit-transform: translate3d(0.5em, 0.2em, 0) rotate(20deg) scale(0.6);
              transform: translate3d(0.5em, 0.2em, 0) rotate(20deg) scale(0.6);
            }
            20% {
              opacity: 0.6;
              -webkit-transform: translate3d(0.3em, 0, 0) rotate(45deg) scale(0.8);
              transform: translate3d(0.3em, 0, 0) rotate(45deg) scale(0.8);
            }
            40% {
              opacity: 1;
              -webkit-transform: translate3d(0.1em, -0.2em, 0) rotate(70deg) scale(1);
              transform: translate3d(0.1em, -0.2em, 0) rotate(70deg) scale(1);
            }
            60% {
              -webkit-transform: translate3d(-0.1em, -0.4em, 0) rotate(95deg);
              transform: translate3d(-0.1em, -0.4em, 0) rotate(15deg);
            }
            80% {
              opacity: 0.8;
              -webkit-transform: translate3d(-0.2em, -0.6em, 0) rotate(120deg);
              transform: translate3d(-0.2em, -0.6em, 0) rotate(120deg);
            }
            100% {
              opacity: 0;
              -webkit-transform: translate3d(-0.3em, -0.8em, 0) rotate(145deg);
              transform: translate3d(-0.3em, -0.8em, 0) rotate(145deg);
            }
          }
          .section-bottom {
            bottom: 60px;
            color: hsla(0, 0%, 100%, 0.75);
            font-size: 1.2rem;
            left: -10px;
            opacity: 0.8;
            padding-left: 9px;
            position: absolute;
            p {
              margin-bottom: 4px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 190px;
            }
            .music-bar {
              display: flex;
              width: 190px;

              .music-thumb-wrapper {
                flex-grow: 1;
                overflow: hidden;
              }
              .music-thumb {
                animation: textTransform 5s linear infinite;
                white-space: nowrap;
                width: max-content;
                span {
                  margin-right: 10px;
                }
              }
              @keyframes textTransform {
                0% {
                  -webkit-transform: translateX(0);
                  transform: translateX(0);
                }
                85% {
                  -webkit-transform: translateX(-33.33%);
                  transform: translateX(-33.33%);
                }
                100% {
                  -webkit-transform: translateX(-33.33%);
                  transform: translateX(-33.33%);
                }
              }
            }
            .music-bar::before {
              content: '';
              flex-shrink: 0;
              height: 17px;
              margin-right: 8px;
              width: 17px;
              background-image: url('./img-music.png');
              display: block;
              background-size: cover;
            }
          }
        }
        footer {
          height: 34px;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: 542px;
          width: 259px;
          background-image: url('./icon-phone.png');
          background-size: cover;
        }
      }
      .control-space {
        border-radius: 40px;
        cursor: pointer;
        inset: 0;
        position: absolute;

        &:hover + .block-controlVideo {
          opacity: 1;
        }
      }
      .block-controlVideo {
        opacity: 0;
        transition: all 0.3s linear;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.85));
        border-radius: 24px;
        bottom: 6px;
        left: 5px;
        padding: 43px 22.5px;
        position: absolute;
        right: 5px;

        &:hover {
          opacity: 1;
        }
      }
      .time-control {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 1.35rem;
        justify-content: space-between;
        margin-bottom: 14px;
        position: absolute;
        bottom: 32px;
        width: 85%;
        right: 19px;
        button {
          background: none;
          color: var(--white);
          cursor: pointer;
        }
      }
      .progress-control {
        background: rgba(86, 86, 86, 0.8);
        height: 3.5px;
        position: absolute;
        bottom: 35px;
        width: 89%;
        right: 15px;
        &:hover .dot {
          opacity: 1;
        }
        input {
          cursor: pointer;
          left: -2px;
          opacity: 0;
          position: absolute;
          right: -2px;
          top: -6px;
        }
        .progress-bar {
          background-color: #fff;
          bottom: 0;
          left: 0;
          position: absolute;
          top: 0;
          transition: all 0.1s linear;

          p {
            background-color: inherit;
            border-radius: 50%;
            height: 12px;
            left: 100%;
            opacity: 0;
            position: absolute;
            top: -4px;
            transition: opacity 0.2s;
            width: 12px;
          }
        }
      }
    }
    .change-video-container {
      border: 1px solid rgba(22, 24, 35, 0.12);
      border-radius: 12px;
      display: flex;
      font-size: 1.2rem;
      margin-top: 16px;
      padding: 12px;
      .video-name {
        color: rgba(22, 24, 35, 0.55);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 130px;
      }
      .btn-changeVideo {
        cursor: pointer;
        margin-left: 50px;
        font-weight: 100;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.chosse-file-edit {
  label {
    display: block;
    width: 260px;
    height: 458px;
  }
}
